html, body {
  height: 100%;
  margin: 0;
}
.footer {
  height: 250px;
  clear: both;
  color: #fff;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#c8bbc1, #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c8bbc1, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c8bbc1, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c8bbc1, #000); /* Standard syntax (must be last) */
}
#root, #root > [data-reactroot] { height: 100% }
.container-1 {
  max-width: 500px;
  margin: 0 auto;
}
.container-2 {
  max-width: 750px;
  margin: 0 auto;
}
/* Parallax styles */
.parallax {
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Margin */
.margin-0 {
  margin: 0 !important
}
.margin-1 {
  margin: 5px !important
}
.margin-2 {
  margin: 10px !important
}
.margin-3 {
   margin: 15px !important
}
.margin-4 {
  margin: 20px !important
}
.margin-t-0 {
  margin-top: 0 !important
}
.margin-t-1 {
  margin-top: 5px !important
}
.margin-t-2 {
  margin-top: 10px !important
}
.margin-t-3 {
  margin-top: 15px !important
}
.margin-t-4 {
  margin-top: 20px !important
}
.margin-r-0 {
  margin-right: 0 !important
}
.margin-r-1 {
  margin-right: 5px !important
}
.margin-r-2 {
  margin-right: 10px !important
}
.margin-r-3 {
  margin-right: 15px !important
}
.margin-r-4 {
  margin-right: 20px !important
}
.margin-b-0 {
  margin-bottom: 0 !important
}
.margin-b-1 {
  margin-bottom: 5px !important
}
.margin-b-2 {
  margin-bottom: 10px !important
}
.margin-b-3 {
  margin-bottom: 15px !important
}
.margin-b-4 {
  margin-bottom: 20px !important
}
.margin-l-0 {
  margin-left: 0 !important
}
.margin-l-1 {
  margin-left: 5px !important
}
.margin-l-2 {
  margin-left: 10px !important
}
.margin-l-3 {
  margin-left: 10px !important
}
.margin-l-4 {
  margin-left: 10px !important
}
.margin-tb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}
.margin-tb-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important
 }
.margin-tb-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important
}
.margin-tb-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important
}
.margin-tb-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important
}
.margin-lr-0 {
  margin-right: 0 !important;
  margin-left: 0 !important
}
.margin-lr-1 {
  margin-right: 5px !important;
  margin-left: 5px !important
}
.margin-lr-2 {
  margin-right: 10px !important;
  margin-left: 10px !important
}
.margin-lr-3 {
  margin-right: 15px !important;
  margin-left: 15px !important
}
.margin-lr-4 {
  margin-right: 20px !important;
  margin-left: 20px !important
}
/* Display */
.display-block {
  display: block
}
.display-none {
  display: none
}
.display-inline {
  display: inline;
}
/* Float */
.float-l {
  float: left;
}
.float-r {
  float: right;
}
/* Text-align*/
.center {
    text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
/*Padding*/
.pad-0 {
  padding: 0 !important
}
.pad-1 {
  padding: 5px !important
}
.pad-2 {
  padding: 10px !important
}
.pad-3 {
  padding: 15px !important
}
.pad-4 {
  padding: 20px !important
}
.pad-t-0 {
  padding-top: 5px !important
}
.pad-t-1 {
  padding-top: 5px !important
}
.pad-t-2 {
  padding-top: 10px !important
}
.pad-t-3 {
  padding-top: 15px !important
}
.pad-t-4 {
  padding-top: 20px !important
}
.pad-b-0 {
  padding-bottom: 0 !important
}
.pad-b-1 {
  padding-bottom: 5px !important
}
.pad-b-2 {
  padding-bottom: 10px !important
}
.pad-b-3 {
  padding-bottom: 15px !important
}
.pad-b-4 {
  padding-bottom: 20px !important
}
.pad-0 {
  padding-left: 0 !important
}
.pad-l-1 {
  padding-left: 5px !important
}
.pad-l-2 {
  padding-left: 10px !important
}
.pad-l-3 {
  padding-left: 15px !important
}
.pad-l-4 {
  padding-left: 20px !important
}
.pad-r-0 {
  padding-right: 0 !important
}
.pad-r-1 {
  padding-right: 5px !important
}
.pad-r-2 {
  padding-right: 10px !important
}
.pad-r-3 {
  padding-right: 15px !important
}
.pad-r-4 {
  padding-right: 20px !important
}
.pad-tb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}
.pad-tb-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important
}
.pad-tb-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important
}
.pad-tb-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important
}
.pad-tb-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important
}
.pad-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important
}
.pad-lr-1 {
  padding-left: 5px !important;
  padding-right: 5px !important
}
.pad-lr-2 {
  padding-left: 10px !important;
  padding-right: 10px !important
}
.pad-lr-3 {
  padding-left: 15px !important;
  padding-right: 15px !important
}
.pad-lr-4 {
  padding-left: 20px !important;
  padding-right: 20px !important
}
.word-break-word {
  word-break: break-all
}
.word-wrap-word {
  word-wrap: break-word
}
