.inputContainerDefault1 div:focus {
  outline: 0 none;
}
.inputContainerDefault1 label {
  left: 0;
  right: auto;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  bottom: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -ms-flex-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-transform: translate3d(0,40px,0) scale(1);
  transform: translate3d(0,40px,0) scale(1);
  transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  max-width: 100%;
  font-size: 20px;

}
.inputContainerDefault1 input {
  border: 0 !important;
  border-bottom: 2px solid #e0e0e0 !important;
  font-size: 20px;
  outline: 0 none;
  width: 100%;
  box-shadow: 0 0 0 1000px #FFF inset!important;
}

.inputContainerDefault1 input:focus {
  border-bottom: 2px solid #5bc0de !important;
  transition: border-bottom 0.3s linear;
  outline: 0 none;
}


.inputContainerDefault2 div:focus {
  outline: 0 none;
}
.inputContainerDefault2 label {
  left: 0;
  right: auto;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  bottom: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -ms-flex-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-transform: translate3d(0,48px,0) scale(1);
  transform: translate3d(0,48px,0) scale(1);
  transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  max-width: 100%;
  font-size: 20px;
  padding-left: 10px;

}
.inputContainerDefault2 input {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  font-size: 20px;
  height: 43px !important;
  outline: 0 none;
  width: 100%;
  box-shadow: 0 0 0 1000px #FFF inset!important;
  padding-left: 8px !important;
}

.inputContainerDefault2 input:focus {
  border: 2px solid #5bc0de !important;
  transition: border-bottom 0.3s linear;
  outline: 0 none;
}

.transform{
  transform: translate3d(0, 15px, 0) scale(.75) !important;
}

.error {
  border: 2px solid red !important;
}
